.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 1;
}

.modal_container {
  height: 250px;
  width: 75%;
  background-color: white;
  margin: 10% auto;
  padding: 10px;
}
.modal_title_container {
  display: flex;
  align-items: baseline;
}
.modal_title {
  margin: 10px 0;
  flex: 1;
}
.close {
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.3rem;
}
.btn {
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}
