.tabs > ul {
  padding: 0;
}

.tabs .trigger {
  list-style: none;
  padding: 10px;
  background-color: orange;
  margin: 4px;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

.tabs .trigger.active {
  background-color: orange;
  color: white;
}

.tabs .content {
  background-color: orange;
  padding: 10px 20px;
  border-radius: 6px;
  display: none;
}

.tabs .content.active {
  display: block;
}
